<nav class="navigation">
  <a class="navigation_title" href="/" data-astro-prefetch
    >Buscador de comida típica</a
  >
  <ul class="navigation_links">
    <li class="navigation_link"><a href="/recipes">Recetas</a></li>
    <li class="navigation_link">
      <a href="/places">Lugares</a>
    </li>
    <li class="navigation_link">
      <a href="/events">Eventos</a>
    </li>
  </ul>
</nav>
