---
import "../../../styles/Restaurants.css";
import Layout from "../../../layouts/Layout.astro";

export const prerender = false; // Muy importante

const { id } = Astro.params;
---

<Layout>
  <main>
    <h1>Restaurantes</h1>
  </main>
</Layout>
